## 파일 불러오기

In [2]:
import pandas as pd
import numpy as np
edge = pd.read_csv("C:/Users/hans6/OneDrive - seoultech.ac.kr/GOLD/프로젝트/4. 김종명 박사님꺼/gephi network/Co-occurrence matrix 하위 CPC/Co-occurrence matrix 하위 CPC Edge.csv", encoding='cp949')
node = pd.read_csv("C:/Users/hans6/OneDrive - seoultech.ac.kr/GOLD/프로젝트/4. 김종명 박사님꺼/gephi network/Co-occurrence matrix 하위 CPC/Co-occurrence matrix 하위 CPC Node.csv", encoding='cp949')

## 파일 확인하기

In [3]:
edge

     Source    Target        Type   Id  Label  timeset  Weight
0    H04L51     H04M1  Undirected    0    NaN      NaN       5
1    H04L51    G06Q10  Undirected    1    NaN      NaN       1
2    H04L51     H04W4  Undirected    2    NaN      NaN       1
3    H04L51  H04Q2213  Undirected    3    NaN      NaN       1
4    H04L51   Y10S379  Undirected    4    NaN      NaN       1
..      ...       ...         ...  ...    ...      ...     ...
398   G06N7    G10L17  Undirected  469    NaN      NaN       1
399  G06T11    G10L21  Undirected  470    NaN      NaN       2
400  G06T11  H04M2201  Undirected  471    NaN      NaN       2
401  G06T11    G10L15  Undirected  472    NaN      NaN       2
402  G06T11    H04L41  Undirected  473    NaN      NaN       1

[403 rows x 7 columns]

In [4]:
node

,Id,Label,timeset,Degree,Weighted Degree,modularity_class,eigencentrality,Eccentricity,closnesscentrality,harmonicclosnesscentrality,betweenesscentrality
0,H04L51,H04L51,NaN,12,20,3,0.327410,3,0.497436,0.539519,0.006269
1,H04M1,H04M1,NaN,18,44,3,0.381863,3,0.510526,0.568729,0.035531
2,G06Q10,G06Q10,NaN,27,130,0,0.539572,3,0.554286,0.625430,0.042536
3,H04W4,H04W4,NaN,35,100,0,0.655950,3,0.595092,0.673540,0.102026
4,H04Q2213,H04Q2213,NaN,10,70,0,0.258335,3,0.482587,0.522337,0.017304
...,...,...,...,...,...,...,...,...,...,...,...
93,H04W40,H04W40,NaN,2,4,3,0.044667,4,0.359259,0.381443,0.000031
94,G06F9,G06F9,NaN,1,2,0,0.059326,3,0.429204,0.448454,0.000000
95,G06F21,G06F21,NaN,2,2,3,0.046417,4,0.364662,0.390034,0.000136
96,G10L2021,G10L2021,NaN,2,2,0,0.054062,4,0.380392,0.405498,0.000000
97,H04W84,H04W84,NaN,2,2,0,0.036209,4,0.348921,0.368557,0.000070

## 딕셔너리 화

### node 딕셔너리화

In [5]:
ID = node['Id'].values
modularity = node['modularity_class'].values

In [6]:
dict = {'Source':ID, 'source modularity':modularity}
node_dict1 = pd.DataFrame(dict)

In [7]:
dict = {'Target':ID, 'target modularity':modularity}
node_dict2 = pd.DataFrame(dict)

## edge 딕셔너리화

#### edge source 딕셔너리화

In [8]:
Source = edge['Source'].values
Target = edge['Target'].values

In [9]:
dict2 = {'Source':Source, 'Target':Target}
edge_dict = pd.DataFrame(dict2)

## 병합

### source 병합

In [10]:
merge = pd.merge(edge_dict, node_dict1, on ='Source', how='right')

In [11]:
merge

       Source    Target  source modularity
0      H04L51     H04M1                  3
1      H04L51    G06Q10                  3
2      H04L51     H04W4                  3
3      H04L51  H04Q2213                  3
4      H04L51   Y10S379                  3
..        ...       ...                ...
400    H04W40    H04W76                  3
401     G06F9       NaN                  0
402    G06F21     H04M1                  3
403  G10L2021  H04M2203                  0
404    H04W84  H04Q2213                  0

[405 rows x 3 columns]

In [12]:
del merge['Source']

In [13]:
merge2 = pd.merge(merge, node_dict2, on ='Target', how='right')

In [14]:
merge2

       Target  source modularity  target modularity
0      H04L51                0.0                  3
1      H04L51                0.0                  3
2      H04L51                0.0                  3
3      H04L51                3.0                  3
4      H04L51                0.0                  3
..        ...                ...                ...
400    H04W40                0.0                  3
401     G06F9                0.0                  0
402    G06F21                0.0                  3
403  G10L2021                0.0                  0
404    H04W84                0.0                  0

[405 rows x 3 columns]

In [15]:
del merge2['Target']

In [16]:
merge2

     source modularity  target modularity
0                  0.0                  3
1                  0.0                  3
2                  0.0                  3
3                  3.0                  3
4                  0.0                  3
..                 ...                ...
400                0.0                  3
401                0.0                  0
402                0.0                  3
403                0.0                  0
404                0.0                  0

[405 rows x 2 columns]

In [17]:
merge2['source modularity'].unique()

array([ 0.,  3.,  4.,  1.,  2., nan])

In [18]:
df11=merge2.groupby('source modularity')['target modularity'].apply(lambda x: (x=='one').sum()).reset_index(name='count')
print (df11)

   source modularity  count
0                0.0      0
1                1.0      0
2                2.0      0
3                3.0      0
4                4.0      0

In [19]:
merge2['source modularity'] = merge2['source modularity'].astype('category')
df1 = merge2[merge2['target modularity'] == 'one'].groupby(['source modularity']).size().reset_index(name='count')

In [20]:
df2 = merge2.groupby(['source modularity', 'target modularity']).size().reset_index(name='count') 
print(df2)

   source modularity  target modularity  count
0                0.0                  0    171
1                0.0                  1      6
2                0.0                  2      4
3                0.0                  3     33
4                0.0                  4     21
5                1.0                  0     14
6                1.0                  1      8
7                1.0                  2      0
8                1.0                  3      1
9                1.0                  4      0
10               2.0                  0      5
11               2.0                  1      0
12               2.0                  2      2
13               2.0                  3      0
14               2.0                  4      0
15               3.0                  0     54
16               3.0                  1      2
17               3.0                  2      2
18               3.0                  3     42
19               3.0                  4      3
20               4.0                  0     16
21               4.0                  1      2
22               4.0                  2      0
23               4.0                  3      2
24               4.0                  4     15

In [21]:
df3 = merge2.groupby(['source modularity', 'target modularity']).size().unstack(fill_value=0)
print (df3)

target modularity    0  1  2   3   4
source modularity
0.0                171  6  4  33  21
1.0                 14  8  0   1   0
2.0                  5  0  2   0   0
3.0                 54  2  2  42   3
4.0                 16  2  0   2  15

In [22]:
df3.to_csv("./data/상관관계.csv",encoding='cp949')